@media only screen and (min-width: 901px) {
  body {
    background-image: url(../../assets/destination/background-destination-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
    overflow: hidden;
  }
  .flex {
    display: flex;
    gap: 0.5rem;
  }

  .crew {
    justify-content: space-evenly;
    flex-direction: row-reverse;
    margin-top: -100px;
    /* align-items: center; */
  }
  .pick {
    font-size: 1.75em;
    font-family: var(--text-barlow-Con);
    font-weight: 400;
    margin-block: 4rem;
    margin-inline-start: 10rem;
    gap: 1.5rem;
  }
  .pick p {
    letter-spacing: 5px;
    text-transform: uppercase;
  }
  .dis {
    opacity: 0.25;
    font-weight: 700;
  }
  .crew__title {
    opacity: 0.5;
    text-transform: uppercase;
    font-family: var(--text-bellefair);
    font-size: 2em;
  }
  .crew__name {
    font-size: 2.5em;
    font-family: var(--text-bellefair);
    text-transform: uppercase;
    margin: 30px 0;
  }
  .planet__ul {
    gap: 2rem;
  }
  .planet__ul a {
    text-decoration: none;
    color: var(--text-p);
    font-family: var(--text-barlow-Con);
    text-transform: uppercase;
  }
  .planet__ul a:hover {
    border-block-end: solid grey 1px;
    padding-block-end: 5px;
  }
  .dline {
    position: relative;
    z-index: 5;
  }
  .dline::before {
    position: relative;
    display: block;
    content: "";
    background-color: hsl(0 0% 100% / 0.3);
    padding: 0.5px 20px;
    margin: 30px 0;
  }
  .coldes1 {
    max-width: 444px;
  }
  .coldes2 {
    max-width: 500px;
    margin-top: 150px;
  }
  .coldes1 .crew__person {
    /* width: 100%; */
  }
  .coldes2 .crew__p {
    line-height: 1.7;
    font-size: 1.125em;
    font-family: var(--text-barlow);
    color: var(--text-p);
    max-width: 430px;
  }
  .distance__time {
    justify-content: space-between;
    font-family: var(--text-barlow-Con);
    text-transform: uppercase;
  }
  .avg,
  .travel {
    font-family: var(--text-barlow-Con);
    font-size: 0.875em;
    margin-block-end: 1rem;
  }
  .distance,
  .days {
    font-family: var(--text-bellefair);
    font-size: 1.75em;
  }

  /* desktop */

  .prem__header .line {
    position: relative;
    left: 5px;
    width: 100%;
    z-index: 5;
  }
  .prem__header .line::before {
    position: relative;
    display: block;
    content: "";
    background-color: hsl(0 0% 100% / 0.3);
    width: 100%;
    padding: 0.1px 20px;
  }
}

/* to make long line in the navigation aria this is another way*/

/* .prem__header::after {
  content: "";
  display: block;
  position: relative;
  height: 1px;
  width: 100%;
  margin-right: -2.5rem;
  background: red;
  order: 1;
}
.prem__nav {
  order: 2;
} */
