/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  body {
    background-image: url(../../assets/crew/background-crew-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
  }
  .flex {
    display: flex;
    gap: 0.5rem;
    flex-direction: column-reverse;
    align-items: center;
  
  }
  
  .destination {
    flex-direction: column;
    align-items: center;
  }
  .pick {
    font-size: 1.75em;
    font-family: var(--text-barlow-Con);
    font-weight: 400;
    margin-block: 4rem;
    margin-inline-start: 3rem;
    gap: 1.5rem;
  }
  .pick p {
    letter-spacing: 5px;
    text-transform: uppercase;
  }
  .dis {
    opacity: 0.25;
    font-weight: 700;
  }
  .planet__name {
    font-size: 6.25em;
    font-family: var(--text-bellefair);
    text-transform: uppercase;
    margin: 30px 0;
  }
  .planet__header {
    display: flex;
    justify-content: center;
  }
  .planet__ul {
    gap: 3rem;
    display: flex;
    list-style: inside;
    flex-direction: row;
    justify-content: center;
  }

  .planet__ul a {
    text-decoration: none;
    color: var(--text-p);
    font-family: var(--text-barlow-Con);
    text-transform: uppercase;
  }
  .planet__ul a:hover {
    border-block-end: solid grey 1px;
    padding-block-end: 5px;
  }
  .dline {
    position: relative;
    z-index: 5;
  }
  .dline::before {
    position: relative;
    display: block;
    content: "";
    background-color: hsl(0 0% 100% / 0.3);
    padding: 0.5px 20px;
    margin: 30px 0;
  }
  .coldes1,
  .coldes2 {
    max-width: fit-content;
    text-align: center;
  }
  .coldes1 .planet {
    width: 70%;
    margin-block-end: 2rem;
  }
  .coldes2 > p {
    line-height: 1.7;
    font-size: 1.125em;
    font-family: var(--text-barlow);
    color: var(--text-p);
  }
  .distance__time {
    justify-content: space-between;
    font-family: var(--text-barlow-Con);
    text-transform: uppercase;
  }
  .avg,
  .travel {
    font-family: var(--text-barlow-Con);
    font-size: 0.875em;
    margin-block-end: 1rem;
  }
  .distance,
  .days {
    font-family: var(--text-bellefair);
    font-size: 1.75em;
  }

  .mobile__nav__toggle {
    display: block;
    position: absolute;
    /* border: none; */
    top: 2rem;
    background-image: url(../../assets/shared/icon-hamburger.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
    right: 2rem;
    z-index: 9999;
    width: 2rem;
    aspect-ratio: 1;
  }
  .mobile__nav__toggle[aria-expanded="true"] {
    background-image: url(../../assets/shared/icon-close.svg);
  }
  .prem__nav {
    position: fixed;
    inset: 0 0 0 30%;
  }
  [data-visible="false"] {
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
  }
  [data-visible="true"] {
    transition: 200ms ease-out;
    opacity: 1;
    visibility: visible;
    transform: translateX(0%);
  }

  .prem__ul {
    padding: min(30vh, 10rem) 2em;
    flex-direction: column;
    gap: 2rem;
  }
}
